#container {
    position: fixed;
    z-index: 5;
    height: 150px;
    width: 300px;
    border: 2px solid black;

    /* Add appropriate display, align-items and justify-content to match skeleton */
    /* Code Here */
display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#container {
    position: fixed;
    z-index: 5;
    height: 150px;
    width: 300px;
    border: 2px solid black;

    /* Add appropriate display, align-content and justify-content to match skeleton */
    /* Code Here */
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    
}

#container {
    position: fixed;
    z-index: 5;
    height: 150px;
    width: 300px;
    border: 2px solid black;

    display: flex;
    justify-content: space-evenly;
}

#special-box {
    background-color: palegoldenrod;
    /* Use align-self in such a way that is covers the uncovered skeleton */
  align-self: end;
}