p{
    color: rgb(255, 0, 0);
    background-color: hsl(34, 49%, 57%);
    h1::first-letter{
        color: #84d98f;
      }
      p::before{
        content: 'Hello';
      }
      p::after{
        content: 'Bye!';
      }
  }